@import url('/assets/css/style.css');

/* portfolio */


#pre-portfolio {
    height: 5em;
    position: absolute;
    top: 85%;
}

.portfolio {
    position: relative;
    padding: 0 1.8em;
}

.portfolio__title {
    color: var(--font-purple);
    font-weight: 749;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2.5rem;
}

.portfolio__text {
    color: var(--font-lilac-darker);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.portfolio__projects {
    text-align: center;
}

.portfolio__subtitle {
    width: 48%;
    height: 2.7em;
    border: none;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5em auto;
}    

.carousel-indicators [data-bs-target] {
    width: 3px;
    height: 3px;
    border-bottom: 0px solid transparent;
}    

/* about us */

#pre-about {
    height: 5em;
    position: absolute;
    top: 95%;
}

.about {
    padding: 2.8em 1.8em 0 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    color: var(--font-purple);   
    font-weight: 749;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.8em;
}

.about__subtitle {
    color: var(--font-lilac-darker);
    text-align: justify;
    font-weight: 500;
    font-size: 0.9rem;
}

.about__text {
    color: var(--font-lilac-darker);
    text-align: justify;
    line-height: 1rem;
    font-weight: 100;
    font-size: 0.8rem;
}

.about__founder {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.6em auto 2em auto;
}

.founder__img {
    width: 60%;
    margin: 1em auto 0.5em auto;
}

.founder__title {
    color: var(--font-purple);
    font-weight: 750;
    font-size: 1rem;
    margin-top: 0.4em;
    margin-bottom: auto;
    line-height: normal;
}

.founder__subtitle {
    color: var(--lilac);
    font-size: 0.8rem;
}

@media screen and (min-width: 992px) {


    /*Portfolio */

    #pre-portfolio {
        top: 75%;
    }

    .box-container {
        max-width: 1024px;
        text-align: center;
        margin: 0 auto;
    }

    .portfolio__title {
        font-size: 2.5rem;
    }

    .portfolio__text {
        font-size: 1.5rem;
    }

    .portfolio__subtitle {
        height: 3.7em;
    }

    .portfolio__projects {
        flex-wrap: nowrap;
        margin: 2em 45em 3em;
        gap: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo-animation intro-outro"
        "custom-animation logo-design"
        "logo-redesign graphic-design";
    }

    .portfolio__button {
        height: 3.3em;
    }

    .carousel-inner {
        /* width: 70%; */
        margin: auto;
    }

    .logo-animation {
        grid-area: logo-animation;
    }

    .intro-outro {
        grid-area: intro-outro;
    }

    .logo-design {
        grid-area: logo-design; 
    }

    .custom-animation {
        grid-area: custom-animation;
    }

    .logo-redesign {
        grid-area: logo-redesign;
    }

    .graphic-design {
        grid-row-start: graphic-design;
    }



    /* About */

    #pre-about {
        top: 92%;
    }

    .about {
        margin: 0 44em;
    }

    .about__title {
        font-size: 2.5rem;
    }

    .about__subtitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .about__text {
        color: var(--font-lilac-darker);
        text-align: justify;
        line-height: 1.8rem;
        font-weight: 100;
        font-size: 1.5rem;
        margin: 1.3em 3em;
    }

    .about__founder {
        display: flex;
        text-align: center;
        margin: 2rem;
        flex-direction: row;
    }

    .founder__title {
        display: inline-block;
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .founder__subtitle {
        display: inline-block;
        font-size: 1.25rem;
    }

    .founder {
        display: flex;
        flex-direction: column;
    }
    
}



