:root {
    --gradient: linear-gradient( 217deg, #39e5ba, rgba(255, 0, 0, 0) 70.71% ), linear-gradient(127deg, #54E1FF, rgba(0, 255, 0, 0) 38.71%), linear-gradient(336deg, #00087d, rgba(0, 0, 255, 0) 145.71%);
    --font-purple: #2E3192;
    --font-lilac: #7C85D6;
    --font-white: #FFF;
    --bg-grey: #F7F7F7;
    --bg-lightblue: #F3FFFF;
    --green-location: #42cd9c;
}


@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Light.otf");
    font-style: normal;
    font-weight: 200;
}

body {
    font-family: "Guanabara";
    background-color: var(--bg-lightblue);
}

.header__background {
   
    /*
    background:
        linear-gradient( 217deg, #39e5ba, rgba(255, 0, 0, 0) 70.71% ),
        linear-gradient(127deg, #54E1FF, rgba(0, 255, 0, 0) 38.71%),
        linear-gradient(336deg, #00087d, rgba(0, 0, 255, 0) 145.71%);
    */
    background-image: url(/assets/img/shape_cabecalho.svg);
    background-size: cover;
    width: 100%;
    height: 14%;
    background-repeat: no-repeat;
}

.header__box {
    height: auto;
}


.logo {
    width: 4.5rem;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header__title {
    font-size: 12px;
    color: var(--font-white);
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: -0.2em;
    font-weight: 700;
    
}

.header__subtitle {
    font-size: 7px;
    color: var(--font-white);
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: auto;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 1rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-size: 76%;
}

.container-fluid {
    padding: calc(var(--bs-gutter-x) * 1);
    position: relative;
   
}


.offcanvas {
    background-image: url(/assets/img/bg_menu.svg);
    background-repeat: no-repeat;
    background-size: 98%;
    --bs-offcanvas-bg: transparent;
    width: 50% !important;
    height: 205% !important;
    position: absolute;
    top: 70px !important;
    left: 150px !important;
 
}

/*
.offcanvas__logo {
    width: 80px;
    padding-top: 20px;
}
*/

.navbar-nav {
    --bs-nav-link-color: var(--font-white);
    --bs-nav-link-hover-color: var(--font-purple);
    --bs-nav-link-disabled-color: var(--font-white);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--font-purple);
}

.btn-close {
    padding-left: 90%;
}

/* videos */

.videos {
    background-color: #00087d;
    height: 60vh;
}

/* portifolio */

.portfolio__title {
    color: var(--font-purple);   
    font-weight: 749;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 4.2rem;
}

.portfolio__text {
    color: var(--font-lilac);
    text-align: center;
}

.portfolio__projects{ 
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 2em auto;
    gap: 0.2em;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    justify-content: center; */
}

.portfolio__button {
    width: 49%;
    height: 2.7em;
    border: none;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
}

.animation {
    background-image: url(../img/logo_animation.svg);
}

.design {
    background-image: url(../img/logo_design.svg);
}

.custom {
    background-image: url(../img/custom_animation.svg);
}

.intro {
    background-image: url(../img/intro_e_outro.svg);
}

.redesign {
    background-image: url(../img/logo_redesign.svg);
}

.graphic{
    background-image: url(../img/graphic_design.svg);
}

.carousel {
    margin: auto 2em;
}

/* about us */

.about {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*
    background-image: url(../img/ondas.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    height: 200vh;
    background-position-y: 110%; */
}

.about__title {
    color: var(--font-purple);   
    font-weight: 749;
    font-size: 1.7rem;
    text-align: center;
}

.about__subtitle {
    color: var(--font-purple);
}

.about__text {
    color: var(--font-lilac);
    text-align: justify;
    line-height: 1.2rem;
}

.about__colab {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.colaborator__img {
    width: 48%;
    margin: 1em auto 0.5em auto;
}

.colaborator__title {
    color: var(--font-purple);    
    font-weight: 750;
    font-size: large;
    margin-bottom: auto;
    line-height: normal;
}

.colaborator__subtitle {
    color: var(--font-lilac);
    font-size: 0.8rem;
}





/* footer */


.location-pin {
    width: 70px;
}

.about__place {
    display: flex;
    justify-content: center;
    /* width: 108px; */
    /* margin: 0em 0em 0em 0em; */
    gap: 12px;
    /* padding-top: 4em; */
    padding: 5em 6em;
}

.about__place-text {
    display: flex;
    align-items: center;
}

.about__place-title {
    color: var(--font-purple);
    font-weight: 750;
    font-size: 1.77rem;
    line-height: 0.9;
    margin-bottom: 0;
}

.about__place-subtitle {
    color: var(--font-purple);
    font-size: 9px;
    margin-top: 9px;
}

.about__place-map {
    border: 8px solid var(--green-location);
    bottom: 100px;
    width: 75%;
    height: 20%;
}

/* contact */

.final {
    background-image: url(../img/rodape_desktop.svg);
    background-repeat: no-repeat;
    background-size: 185%;
    background-position-x: center;
}

.contact {
    padding: 80px 50px 30px 50px;
}

.contact__title {
    color: var(--font-white);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}

.contact__label {
    display: block;
    color: var(--font-white);
    font-size: 0.75rem;
    margin-top: 1em;
    font-weight: 700;
}

.contact__input {
    width: 100%;
    border: none;
    border-radius: 3px;
    line-height: 0.1rem;
}

.contact__text {
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 14vh;
}

.contact__button {
    text-align: center;
}

.contact__button button {
    border: none;
    border-radius: 5px;
    color: var(--font-purple);
    font-size: 0.7rem;
    font-weight: 600;
    /* letter-spacing: 0.3em; */
    padding: 0.25em 2.4em;
    background-color: var(--font-white);
    margin-bottom: 20px;
}

.contact__direct {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 20px auto;
    font-size: 7px;
}

.contact__email {
    margin: 0;
    font-size: .7rem;
    font-weight: 700;
}

.contact__person {
    color:var(--font-white);
}

.contact__phone {
    margin-bottom: 4em;
    text-align: center;
    font-size: 0.55rem;
}

.text_msg {
    color: var(--font-white);
    font-size: 0.6em;

}


/* social media */

.social-media {
    display: flex;
    gap: 1.7em;
    justify-content: center;
}

.social-media__img {
    width: 8%;
    height: 2vh;
}

.copyright {
    color: var(--font-white);
    font-size: 0.4rem;
    font-weight: 200;
    text-align: center;
    margin: 12em auto 2em auto;
}
