:root {
    --gradient: linear-gradient( 217deg, #39e5ba, rgba(255, 0, 0, 0) 70.71% ), linear-gradient(127deg, #54E1FF, rgba(0, 255, 0, 0) 38.71%), linear-gradient(336deg, #00087d, rgba(0, 0, 255, 0) 145.71%);
    --font-purple: #2E3192;
    --font-lilac: #98A3E5;
    --font-lilac-darker: #98a0d1;
    --font-white: #FFF;
    --bg-grey: #F7F7F7;
    --bg-lightblue: #F3FFFF;
    --green-location: #42cd9c;
}

@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Medium.otf");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Book.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Guanabara";
    src: url("../fonts/Guanabara_Sans_Light.otf");
    font-style: normal;
    font-weight: 200;
}

body {
    font-family: "Guanabara";
    background-color: var(--bg-lightblue);
}

/* header */

.header__background {
    background-image: url(/assets/img/shape_cabecalho.svg);
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 15%;
    background-repeat: no-repeat;
}

.header__box {
    height: auto;
}

.logo {
    width: 4.5rem;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-size: 12px;
    color: var(--font-white);
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: -0.2em;
    font-weight: 700;
}

.header__subtitle {
    font-size: 7px;
    color: var(--font-white);
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: auto;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 1rem;
    height: 13.5%;
}

.btn-language-pt {
    background-color: transparent;
    border: none;
    font-size: small;
    font-weight: 700;
    color: var(--font-white);
}

.btn-language-en {
    background-color: transparent;
    display: none;
    border: none;
    font-size: small;
    color: var(--font-white);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-toggler {
    border: none;
    padding-right: 0;
}

.navbar-toggler-icon {
    background-size: 76%;
}

.container-fluid {
        /* padding: calc(var(--bs-gutter-x) * 1); */
    padding: 1rem;
    position: relative;
}

.offcanvas {
    background-image: url(/assets/img/bg_menu.svg);
    background-repeat: no-repeat;
    background-size: 91%;
    background-position-y: 100%;
    --bs-offcanvas-bg: transparent;
    --bs-offcanvas-padding-y: 0rem;
    width: 37%;
    height: 175%;
    position: absolute;
    top: 4rem;
    right: 0.5rem;
}

/*background-repeat: no-repeat;
    background-size: 91%;
    background-position-y: 100%;
    --bs-offcanvas-bg: transparent;
    --bs-offcanvas-padding-y: 0rem;
    width: 38%;
    height: 176%;
    position: absolute;
    top: 3.7rem;
    right: 0.5rem;
*/

.navbar-nav {
    font-weight: bold;
    text-transform: uppercase;
    text-align-last: end;
    font-size: 0.7rem;
    padding-right: 0.2rem !important;
    margin-top: 0.6rem;
    --bs-nav-link-padding-y: 0.4rem;
    --bs-nav-link-color: var(--font-white);
    --bs-nav-link-hover-color: var(--font-purple);
    --bs-nav-link-disabled-color: var(--font-white);
    text-align: end;
}

/* header-menu */

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--font-purple);
}

.btn-close {
    box-sizing: border-box;
    height: 1.5em;
    width: 1rem;
    opacity: 1;
    /* margin-left: 4.8rem; */
}

/* videos */

.videos {
    background-color: var(--font-lilac);
    height: 40em;
}

/* portifolio */

.portfolio__title {
    color: var(--font-purple);   
    font-weight: 749;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 6rem;
}

.portfolio__text {
    color: var(--font-lilac-darker);
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
}

.portfolio__projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 64%;
    margin: 2em auto;
    gap: 0.3em;
}

.portfolio__button {
    width: 48%;
    height: 2.7em;
    border: none;
    border-radius: 0.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}    

.animation {
    background-image: url(../img/logo_animation.svg);
}

.design {
    background-image: url(../img/logo_design.svg);
}

.custom {
    background-image: url(../img/custom_animation.svg);
}

.intro {
    background-image: url(../img/intro_e_outro.svg);
}

.redesign {
    background-image: url(../img/logo_redesign.svg);
}

.graphic{
    background-image: url(../img/graphic_design.svg);
}

.carousel {
    margin: auto 2em;
}

/* about us */

.about {
    padding: 6rem 2.1em 1em 2.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    color: var(--font-purple);   
    font-weight: 749;
    font-size: 1.6rem;
    text-align: center;
}

.about__subtitle {
    color: var(--font-lilac-darker);
    text-align: start;
    font-weight: 400;
    font-size: 0.9rem;
}

.about__text {
    color: var(--font-lilac);
    text-align: justify;
    line-height: 1rem;
    font-weight: 100;
    font-size: 0.85rem;
}

.about__colab {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.colaborator__img {
    width: 48%;
    margin: 1em auto 0.5em auto;
}

.colaborator__title {
    color: var(--font-purple);    
    font-weight: 750;
    font-size: large;
    margin-bottom: auto;
    line-height: normal;
}

.colaborator__subtitle {
    color: var(--font-lilac);
    font-size: 0.8rem;
}

/* footer */

.location-pin {
    width: 70px;
}

.about__place {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 5em 6em;
}

.about__place-text {
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: pre-line;
    width: 7em;
}

.about__place-title {
    color: var(--font-purple);
    font-weight: 750;
    font-size: 1.77rem;
    line-height: 0.9;
    margin-bottom: 0;
}

.about__place-subtitle {
    color: var(--font-purple);
    font-size: 9px;
    margin-top: 9px;
}

.about__place-map {
    border: 8px solid var(--green-location);
    bottom: 100px;
    width: 75%;
    height: 20%;
}

/* contact */

.final {
    background-image: url(../img/rodape_desktop.svg);
    background-repeat: no-repeat;
    background-size: 185%;
    background-position-x: center;
    background-position-y: bottom;
}

.contact {
    padding: 80px 50px 30px 50px;
}

.contact__title {
    color: var(--font-white);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
}

.contact__label {
    display: block;
    color: var(--font-white);
    font-size: 0.65rem;
    margin-top: 1em;
    font-weight: 700;
}

.contact__input {
    width: 100%;
    border: none;
    border-radius: 3px;
    line-height: 0.1rem;
}

.contact__text {
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 14vh;
}

.contact__button {
    text-align: center;
}

.contact__button button {
    border: none;
    border-radius: 5px;
    color: var(--font-purple);
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.25em 2.4em;
    background-color: var(--font-white);
    margin-bottom: 20px;
}

.contact__direct {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 20px auto;
    font-size: 7px;
}

.contact__email {
    margin: 0;
    font-size: .7rem;
    font-weight: 700;
}

.contact__person {
    color:var(--font-white);
}

.contact__phone {
    margin-bottom: 4em;
    text-align: center;
    font-size: 0.rem;
}

.text_msg {
    color: var(--font-white);
    font-size: 0.6em;
}

/* social media */

.social-media {
    display: flex;
    gap: 1.7em;
    justify-content: center;
}

.social-media__img {
    width: 8%;
    height: 2vh;
}

.copyright {
    color: var(--font-white);
    font-size: 0.4rem;
    font-weight: 200;
    text-align: center;
    margin: 12em auto 2em auto;
}

@media (min-width: 992px) {
    :root {
        font-size: 2rem;
    }
}